.DS_Store
var
build
dist
*.pyc
*.so
*.egg-info
tests/__pycache__
.eggs
.cache
.compiler_support_cache
.flag_filter_cache
.pytest_cache
py??
py???
.ci_bak
venv
.coverage
htmlcov
src/pyhepmc/_version.py
.vscode
docs/xml
docs/_build
docs/index.rst
docs/generated_reference.rst.in
examples/event.png
examples/event.svg
examples/modified_event.dat
