[build-system]
requires = [
    "setuptools>=46.4",
    "setuptools_scm[toml]>=3.4",
    "cmake>=3.13"
]
build-backend = "setuptools.build_meta"

[tool.setuptools_scm]
write_to = "src/pyhepmc/_version.py"

[tool.mypy]
ignore_missing_imports = true

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "-q -ra --ff"
testpaths = ["tests"]
filterwarnings = [
    "error::DeprecationWarning",
]

[tool.coverage.run]
relative_files = true

[tool.cibuildwheel]
# update skip when numpy wheels become available
skip = ["*-musllinux_*", "cp310-win32", "cp310-manylinux_i686"]
test-extras = ["test"]
test-command = "python -m pytest {package}/tests"
# to match numpy, we use manylinux2014 for cp310+
manylinux-x86_64-image = "manylinux2014"
manylinux-i686-image = "manylinux2014"

[tool.cibuildwheel.environment]
# this makes sure that we build only on platforms that have a corresponding numpy wheel
PIP_ONLY_BINARY = ":all:"

[[tool.cibuildwheel.overrides]]
# to match numpy, we use manylinux2010 for cp36 to cp39
select = "cp3?-*"
manylinux-x86_64-image = "manylinux2010"
manylinux-i686-image = "manylinux2010"
