name: Coverage

on:
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '*.rst'
      - '*.md'
  push:
    branches:
      - main
    paths-ignore:
      - 'docs/**'
      - '*.rst'
      - '*.md'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  coverage:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
      with:
        submodules: true
        fetch-depth: 3
    # must come after checkout
    - uses: hendrikmuhs/ccache-action@v1.2
      with:
        key: ${{ github.job }}-${{ matrix.os }}-${{ matrix.python-version }}
    - uses: actions/setup-python@v6
      with:
        python-version: 3.11
    - run: python -m pip install --upgrade pip
    - run: python -m pip install --prefer-binary coveralls
    - run: python -m pip install --prefer-binary -e .[test]
    - run: coverage run -m pytest
    - uses: ts-graphviz/setup-graphviz@v2
    - run: coverage run --append -m pytest
    - run: python -m pip uninstall --yes particle
    - run: coverage run --append -m pytest
    - run: coveralls --service=github
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
