name: Coverage

on:
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '*.rst'
      - '*.md'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  coverage:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true
        fetch-depth: 3
    # must come after checkout
    - uses: hendrikmuhs/ccache-action@v1.2
      with:
        key: ${{ github.job }}-${{ matrix.os }}-${{ matrix.python-version }}
    - uses: actions/setup-python@v4
      with:
        python-version: 3.11
    - run: python -m pip install --upgrade pip
    # we need the unreleased meson-python version for editable build support
    - run: python -m pip install --upgrade ninja pybind11 git+https://github.com/mesonbuild/meson-python.git
    - run: python -m pip install --prefer-binary --no-build-isolation -v -e .[test]
    - if: failure()
      run: cat .mesonpy/editable/build/meson-logs/meson-log.txt
    - run: coverage run -m pytest
    - uses: ts-graphviz/setup-graphviz@v1
    - run: coverage run --append -m pytest
    - run: python -m pip uninstall --yes particle
    - run: coverage run --append -m pytest
    - run: python -m pip install --prefer-binary coveralls
    - run: coveralls --service=github
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
