name: Test

on:
  pull_request:
    paths-ignore:
      - "docs/**"
      - "*.rst"
      - "*.md"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        include:
          # version number must be string, otherwise 3.10 becomes 3.1
          - os: windows-latest
            python-version: "3.11"
            installs: "numpy>=2"
          - os: macos-14
            python-version: "3.9"
            installs: "numpy==1.21.0"
          - os: ubuntu-latest
            python-version: "pypy-3.9"
          - os: ubuntu-latest
            python-version: "3.13"
            installs: "'numpy>=2' scipy matplotlib"
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 3
      # must come after checkout
      - uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ${{ github.job }}-${{ matrix.os }}-${{ matrix.python-version }}
      - uses: astral-sh/setup-uv@v3
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true
      - uses: ts-graphviz/setup-graphviz@v1
        if: ${{ matrix.os != 'macos-13' }}
      - run: uv pip install --system .[test] pytest pytest-xdist ${{ matrix.installs }}
        env:
          DEBUG: 1
      - run: python -m pytest -n 3
