name: Wheels

on:
  push:
    tags:
      - "**"
  pull_request:
    paths:
      - .github/workflows/wheels.yml
      - pyproject.toml
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

# Reminder
# - name: Extract Branch Name
#   run: echo "BRANCH=$(echo ${GITHUB_REF##*/})" >> $GITHUB_ENV
# https://dev.to/tomassirio/if-statements-on-github-actions-545d

jobs:
  wheels:
    name: ${{ matrix.py }} ${{ matrix.os }} ${{ matrix.arch }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          [
            ubuntu-latest,
            windows-latest,
            macos-13,
            macos-14,
            ubuntu-24.04-arm,
            windows-11-arm,
          ]
        py: [cp39, cp310, cp311, cp312, cp313, cp314]
        exclude:
          - os: ubuntu-24.04-arm
            py: cp39
          - os: windows-11-arm
            py: cp39
          - os: windows-11-arm
            py: cp310

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
          fetch-depth: 0 # needed by setuptools_scm

      - uses: astral-sh/setup-uv@v7

      - uses: pypa/cibuildwheel@v3.3
        env:
          CIBW_BUILD: ${{ matrix.py }}-*

      - uses: actions/upload-artifact@v5
        with:
          name: wheel-${{ matrix.py }}-${{ matrix.os }}-${{ matrix.arch }}
          path: ./wheelhouse/*.whl

  sdist:
    name: source package
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
          fetch-depth: 0 # needed by setuptools_scm

      - uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - run: pipx run build --sdist
      - run: python -m pip install --upgrade pip setuptools
      - run: python -m pip install -v $(echo dist/*)'[test]'
      - run: python -m pytest

      - uses: actions/upload-artifact@v5
        with:
          name: sdist
          path: dist/*.tar.gz

  upload:
    if: github.event_name == 'push' && contains(github.event.ref, '/tags/')
    needs: [wheels, sdist]
    runs-on: ubuntu-latest

    environment:
      name: pypi
      url: https://pypi.org/project/pyhepmc/

    permissions:
      id-token: write
      attestations: write

    steps:
      - uses: actions/download-artifact@v6.0.0
        with:
          pattern: "*"
          merge-multiple: true
          path: dist

      - uses: pypa/gh-action-pypi-publish@release/v1.13
